$border: 1px solid #ddd;
$border-radius: 5px;

body {
    height: 100vh;
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    div {
        margin: 50px 0;
    }

    input {
        margin: 50px 0;
        border: $border;
        border-radius: $border-radius;
        padding: 10px;
        width: 300px;
        margin: 0 auto;
        font-size: 20px;
        background-color: #555;
        color: cyan;
        font-weight: bold;
    }

    button {
        border: $border;
        border-radius: $border-radius;
        padding: 10px;
        width: 150px;
        background-color: cyan;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
}

