.page-404 {
  text-align: center;

  .map-location-icon {
    font-size: 50px;
    color: #999;
    text-align: center;
  }
  
  .page-not-found-title {
    color: #888;
    font-family: sans-serif;
    margin: 30px 0;
    text-align: center;
  }
}